{% extends "base.html" %}
{% block content %}


    <form  action="{{ url_for('search') }}" method="POST">
    <input id = "number_one" type="text" name="comment">
    <input type="submit" value = "comment">
    </form>
    <table border ="1">
    <tr>
        <th>Рейтинг</th>
        <th>Название</th>
        <th>Дата релиза</th>
        <th>Режиссёр</th>
    </tr>
{% for table in table %}
    <tr><td>{{ table.rating }}</td><td>{{ table.name }}</td><td>{{ table.release_date }}</td><td>{{ table.director }}</td></tr>
    {% endfor %}
    </table>

{% endblock %}
